body {
    background: $light;
    background-size:cover;
    font-family: $muli;
    color: $greyDark;
    header {
       color: white;
        h1 {
            font-size: 2.4rem;
            font-family: $orimo;
        }
        li {
            display: inline-block;
            border: 0.1rem solid #757575;
            padding: 1rem;
            margin-right: 1rem;
            &:hover {
                background: #FAFAFA;
                .link {
                    color: #212121;
                    font-weight: bold;
                }
            }
            .link{
                color: white;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .formulaire {
        input,
        button {
            font-size: 0.9rem;
        }
        button {
            background: $greyDark;
            color: white;
            &:hover {
                    background: #E53935;
                }
        }
    }
    .list {
        background: white;
        font-size: 0.8rem;
        @include radius(0.4rem);
        .modal {
            background: rgba(250, 250, 250, 1);
            color: $light;
            .description {
                background: rgba(245, 245, 245, 0.8);
            }
            button {
                font-size: 1rem;
            }
        }
    }
    .list:hover {
        background: #E53935;
        color: white;
    }
}

.details>div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    div:first-child {
        color: $greyDark;
        font-size: 1rem;
        font-weight: bold;
    }
    div:last-child {
        font-size: 0.8rem;
        color: $yellow;
    }
}

#buttonIndication {
    color: #EEEEEE;
    .nul {
        background: #424242;
    }
    .medium {
        background: #CDDC39;
    }
    .old {
        background: #4CAF50;
    }
}

#homePage {
    background-size: cover;
    padding-top: 2rem;
    .title {
        h1 {
            font-size: 2rem;
            font-weight: bold;
            color: white;
        }
    }
    .boxs {
        .box{
            background: rgba(0,0,0,0.5);
            color: white;
            font-size: 1.5rem;
            &:hover{
                background: #E53935;
                cursor: pointer;
            }
        }
    }
    
}

/*Content*/

.content {
    height: 100vh;
    background-repeat: none;
    background-size: cover;
}
.content .velib  {
    background-position: center;
}
