@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Muli');

$orimo: 'Arimo',
sans-serif;
$muli: 'Muli',
sans-serif;
$light: #E0E0E0;
$greyDark: #212121;
$yellow: #E65100;