body {
    header {
        height: 4rem;
        text-align: center;
        padding-top: 1.2rem;
    }
    .formulaire {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}