body {
    background: $light;
    font-family: $muli;
    color: $greyDark;
    header {
        background: $greyDark;
        color: $light;
        h1 {
            font-size: 2rem;
            font-family: $orimo;
        }
    }
    .formulaire {
        background: $yellow;
        input,
        button {
            font-size: 0.9rem;
        }
        button {
            background: $greyDark;
            color: $light;
        }
    }
    .list {
        background: white;
        font-size: 0.8rem;
        @include radius(0.4rem);
        .modal {
            background: rgba(250, 250, 250, 1);
            color: $light;
            .description {
                background: rgba(245, 245, 245, 0.8);
            }
            button {
                font-size: 1rem;
            }
        }
    }
    .list:hover {
        background: $greyDark;
        color: $light;
    }
}

.details>div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    div:first-child {
        color: $greyDark;
        font-size: 1rem;
        font-weight: bold;
    }
    div:last-child {
        font-size: 0.8rem;
        color: $yellow;
    }
}

#buttonIndication {
    .nul {
        background: #424242;
    }
    .medium {
        background: #CDDC39;
    }
    .old {
        background: #4CAF50;
    }
}

#homePage {
    background-size: cover;
    padding-top: 2rem;
    .title {
        h1 {
            font-size: 3.5rem;
            font-weight: bold;
            color: white;
        }
    }
    .boxs {
        .box{
            background: rgba(0,0,0,0.5);
            color: white;
            font-size: 1.5rem;
            &:hover{
                background: #E53935;
            }
        }
    }
    
}