body {
    background: #E0E0E0;
    header {
        background: #212121;
        color: white;
        h1 {
            font-size: 2rem;
            font-family: $orimo;
        }
    }
    .formulaire {
        input,
        button {
            font-size: 0.9rem;
        }
        button {
            background: #212121;
            color: white;
        }
    }
}